
 
 * {
   box-sizing: border-box;
 }
 
 img {
   vertical-align: middle;
 }
 
 /* Position the image container (needed to position the left and right arrows) */
 .container {
   position: relative;
 }
 
 /* Hide the images by default */
 .mySlides {
   display: none;
 }
 
 /* Add a pointer when hovering over the thumbnail images */
 .cursor {
   cursor: pointer;
 }
 
 /* Next & previous buttons */
 .prev,
 .next {
   cursor: pointer;
   position: absolute;
   top: 40vh;
   width: auto;
   padding: 16px;
   margin-top: -50px;
   color: black;
   font-weight: bold;
   
   font-size: 20px;
   border-radius: 0 3px 3px 0;
   user-select: none;
   -webkit-user-select: none;
 }
 
 /* Position the "next button" to the right */
 .next {
   right: 0;
   border-radius: 3px 0 0 3px;
 }
 .prev {
 left: 0;
  border-radius: 3px 0 0 3px;
}
 
 /* On hover, add a black background color with a little bit see-through */
 .prev:hover,
 .next:hover {
   background-color: rgba(0, 0, 0, 0.8);
 }
 
 /* Number text (1/3 etc) */
 
 
 /* Container for image text */
 .caption-container {
   text-align: center;
   background-color: #222;
   padding: 2px 16px;
   color: white;
 }
 
 .row:after {
   content: "";
   display: table;
   clear: both;
 }
 
 /* Six columns side by side */
 .photo {
   float: left;
   
   padding: 20px;
 }
 
 /* Add a transparency effect for thumnbail images */
 .demo {
   opacity: 0.6;
   height:200px;

 }
 
 .active,
 .demo:hover {
   opacity: 1;
 }
 @media (min-width :991px)
 {
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 60vh;
    
  }
     
 }
@media (max-width :991px)
{
  .dim{
    height:70vh;
    
  } 
    
}
@media (max-width :411px)
{
  .dim{
    width:100vw;
    height: 60vh;
    object-fit: cover;
  } 
    
}

